*.suo
*.vssscc
*.scc
*.user

/*/*.suo
/*/*.vssscc
/*/*.scc
/*/*.user
/*/Dotfuscated/*
/*/PerfLogs/*
/Tup.WebServerDemo/PerformanceLogs/*
/Tup.WebServerDemo/SubmissionInfo/*
/Tup.WebServerDemo/Release/*
/Tup.WebServerDemo/Debug/*
/Tup.SimpleRpc/bin/*
/Tup.SimpleRpc/obj/*

/Tup.SimpleRpc/PerformanceLogs/*
/Tup.SimpleRpc/SubmissionInfo/*
/Tup.SimpleRpc/Release/*
/Tup.SimpleRpc/Debug/*
/Tup.WebServerDemo/bin/*
/Tup.WebServerDemo/obj/*

/UpgradeLog.*
/_UpgradeReport_Files/*.*

